<app-layout></app-layout>

<!-- main content -->
<main class="main">
	<div class="container-fluid">
		<!-- slider -->
		<section class="row">
			<div class="col-12">
				<!-- {{ProgramObject.ProgramPromoUrl}} -->
				<!-- <iframe  class="ProgramPromo" src="https://www.youtube.com/embed/Z_ey5oZ0D-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					 -->
				<iframe class="ProgramPromo" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
			</div>
		</section>
		<!-- end slider -->

		<div class="row row--grid" style="direction: rtl;">
			<div class="col-12 col-xl-10" style="padding-right:0px">
				<div class="article ContentStyle">
					<!-- article content -->
					<div class="article__content Content" style="font-size: 20px;">

						<div class="col-12" style="color: white;">
							<!-- <i class="fa fa-home"></i> -->
							<!-- <a style="color: white;" [routerLink]="['/ProgramDetails',EpisodeObject.ProgramId]"> -->
								<!-- <span style="padding-right: 10px;">{{EpisodeObject.ProgramName}}</span> -->
							<!-- </a> -->
							<!-- <i class="fa fa-arrow-left" aria-hidden="true" style="padding-right: 20px;"></i> -->
								<span style="color:#f9c74f">{{EpisodeObject.EpisodeTitle}} </span>
                 &nbsp; - &nbsp; <span>{{EpisodeObject.SeasonTitle}} </span>
						</div>

						<div class="col-12" style="color: white;">
							<!-- <i class="fas fa-th" style="font-size: 15px;"></i> -->
							<!-- <a style="color: white;"  [routerLink]="['/Categories']"> -->
								<span > {{EpisodeObject.CategoryTitle}}</span> ,
								<span > 	{{EpisodeObject.ProgramTypeTitle}}</span>
							<!-- </a> -->

						</div>

						<div class="dol-12" style="color: white">
              <!-- <span style="padding-right: 10px;" >
                {{EpisodeObject.EpisodePublishDate | date:'dd-MM-YYY'  }}
               </span> -->

							<!-- <i style="padding-left: 5px;" class="fas fa-layer-group"></i>
							{{EpisodeObject.ProgramTypeTitle}} -->
						</div>

						<div class="col-12 Description">
							<p>{{EpisodeObject.EpisodeDescription}}</p>
						</div>


						<!-- <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

							<ol style="list-style-type:circle ;direction:RTL; text-align: right">
								<li>Theme Forest</li>
								<li>Graphic River</li>
								<li>Audio Jungle</li>
								<li>3D Ocean</li>
								<li>Code Canayon</li>
							</ol>

							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. <a href="#">Link</a> the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
						 -->
					</div><br>
					<!-- end article content -->

					<!-- share -->
					<div class="row">
						<div class="col-12">
							<div *ngFor="let item of Seasons" style="padding-right: 20px;">
								<a [routerLink]="['/Episode']" [queryParams]="{id: item.SessionId}"> {{item.SessionTitle}}</a>
							</div>
						</div>
					</div>

					<!-- end share -->
				</div>
			</div>
		</div>
		<div class="row" [hidden]="EpisodesRelated.length == 0 " >
				<!-- title -->
				<div class="col-12" style="color: white;padding-top: 20px;padding-right:0px">
						<h3 style="margin-right: 15px;"> ذات صلة</h3>
				</div>
				<!-- end title -->
		</div>
		<!-- events -->
		<section class="row row--grid" style="margin-right: 15px;">
			<!-- releases -->
				<div class="row flex-row-reverse" >
					<div class="col-6 col-sm-4 col-lg-2 " style="padding-right:0px"
					*ngFor="let item of EpisodesRelated | slice:0:6; let i=index">
						<div class="album">
							<div style="cursor: pointer;" class="album__cover"  [routerLink]="['/Episode',item.EpisodeId]">
								<img src="{{Url}}{{item.EpisodeImg}}" alt="">
								<a ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path
											d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" />
									</svg></a>
									<span class="album__stat">
										<!-- <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.71,16.29a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21,1,1,0,0,0-.21.33,1,1,0,0,0,.21,1.09,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1,1,0,0,0,.21-1.09A1,1,0,0,0,3.71,16.29ZM7,8H21a1,1,0,0,0,0-2H7A1,1,0,0,0,7,8ZM3.71,11.29a1,1,0,0,0-1.09-.21,1.15,1.15,0,0,0-.33.21,1,1,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1,1,0,0,0,3.71,11.29ZM21,11H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2ZM3.71,6.29a1,1,0,0,0-.33-.21,1,1,0,0,0-1.09.21,1.15,1.15,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21,1,1,0,0,0,1.09-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1.15,1.15,0,0,0,3.71,6.29ZM21,16H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z"/></svg> 22</span> -->
										<span> {{item.EpisodeViews}} <svg enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"><g id="background"><rect fill="none" height="32" width="32"/></g><g id="view"><circle cx="16" cy="16" r="6"/><path d="M16,6C6,6,0,15.938,0,15.938S6,26,16,26s16-10,16-10S26,6,16,6z M16,24c-8.75,0-13.5-8-13.5-8S7.25,8,16,8s13.5,8,13.5,8   S24.75,24,16,24z"/></g></svg></span>
									</span>
							</div>
							<div class="album__title">
								<h3 style="cursor: pointer;" >{{item.EpisodeTitle}}</h3>
								<span>
									<a [routerLink]="['/ProgramDetails',EpisodeObject.ProgramId]">
									{{item.ProgramName}}</a>
								</span>
							</div>
						</div>
				</div>
				</div>
			<!-- end releases -->

		</section>
		<!-- end events -->
	</div>
	<app-footer></app-footer>
</main>
<!-- end main content -->

