<app-layout></app-layout>
<!-- main content -->
<app-ads [placementId]="1016"></app-ads>
<main class="main">
	<div class="container-fluid pb-5">
		<div class="row row--grid">
			<!-- breadcrumb -->
			<!-- <div class="col-12">
				<ul class="breadcrumb">
					<li class="breadcrumb__item"><a href="index.html">Home</a></li>
					<li class="breadcrumb__item breadcrumb__item--active">News</li>
				</ul>
			</div> -->
			<!-- end breadcrumb -->

			<!-- title -->
			<div class="col-12">
				<div class="main__title main__title--page">
					<h1>البرامج</h1>
				</div>
			</div>
			<!-- end title -->

			<!-- <div class="col-12">
					<ul class="nav nav-tabs main__tabs" id="main__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><span>#</span>All</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><span>#</span>Music</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><span>#</span>Reviews</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false"><span>#</span>Interviews</a>
						</li>
					</ul>
				</div> -->
		</div>

		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" style="direction: rtl;">
				<div class="row row--grid">
					<!-- post -->
					<div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of Programs.DataList">
						<div class="post ProgramStyle"
							[routerLink]="['/ProgramDetails',item.ProgramId]">
							<a class="post__img" style="aspect-ratio: 0 !important;">
								<img class=" img-style" src="{{Programs.Url}}{{item.ProgramImg}}" alt="">
							</a>

							<div class="post__content" style="color: white;height: auto;">
								<h4>
									{{item.ProgramName}}
								</h4>
								<!-- <a href="#" class="post__category"></a> -->
								<p class="Max-Size-Description">
									{{item.ProgramDescription}}
								</p>
								<div class="post__meta">
									<span>
										<i class="fas fa-bolt"></i>
										&nbsp;<span>{{item.ProgramTypeName}}</span>
									</span>

									<span class="post__comments">
										<i style="padding-left: 5px;" class="fas fa-eye"></i>
										{{item.ProgramViews}}</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end post -->
				</div>
<!--
				<div class="row row--grid">
					<div class="col-12">
						<button class="main__load" type="button" (click)="GetPrograms()">Load more</button>
					</div>
				</div> -->
			</div>

		</div>
	</div>
  <app-ads [placementId]="1017"></app-ads>
  <app-footer></app-footer>
</main>
<!-- end main content -->

