<app-layout></app-layout>
<!-- main content -->
<app-ads [placementId]="1014"></app-ads>
	<main class="main" style="direction:rtl">
		<div class="container-fluid pb-5">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<!-- <div class="col-12" style="direction: ltr;">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item"><a href="store.html">Store</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Product</li>
					</ul>
				</div> -->
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12 " style="direction: ltr;">
					<div class="main__title main__title--page">
						<h1 class="Direction">التصنيفات </h1>
					</div>
				</div>
				<!-- end title -->

				<div class="col-12 " *ngFor="let item of Categories.DataList">
					<div style="padding-bottom: 0px;"  class="store-item CategoryBody" >

						<div class="store-item__content" style="margin-left: 15px;" [routerLink]="['/Programs',item.CategoryId]">
							<!-- <div class="store-item__carousel owl-carousel"> -->
								<div class="store-item__cover " style="margin-bottom: 20px;">
									<img src="{{Categories.Url}}{{item.CategoryImg}}" alt="assets/img/store/item4.jpg">
								</div>
								<!-- <div class="store-item__cover">
									<img src="assets/img/store/item4.jpg" alt="">
								</div> -->
							<!-- </div> -->
						</div>

						<div class="store-item__description" >
							<!-- article content -->
							<div class="article__content" style="color: white;" [routerLink]="['/Programs',item.CategoryId]">
								<h4 style="margin-bottom: 10px;">{{item.CategoryTitle}}</h4>

								<span class="programCount">هناك {{item.ProgramsCount}} برامج  من هذا النوع </span>

								<p style="margin-top: 10px;">{{item.CategoryDescription}}</p>

							</div>
							<!-- end article content -->
							<!-- share -->
							<div style="margin-top: 60px" >
								<span *ngFor="let program of Programs.DataList">
									<span *ngIf="program.CategoryId == item.CategoryId" style="color: white;">
										<div style="display: inline-block;" [routerLink]="['/ProgramDetails',program.ProgramId]" >
											<a style="display: inline-block">
												<!-- {{program.ProgramName}} -->
												<div style="display: inline-block;padding: 5px;width: 110;height:fit-content;aspect-ratio: 3/4;" >
														<img width="100"   src="{{Categories.Url}}{{program.ProgramImg}}">
												</div>
											</a><br/>
											<span>{{program.ProgramName}}</span>
										</div>
									</span>
								</span>
							</div>
						<!-- end share -->
							<!-- <div>
								<a [routerLink]="['/Programs',item.CategoryTitle,item.CategoryId]" class="article__buy" style="width:fit-content;"> برامج خاصة بتصنيف {{item.CategoryTitle}}</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>

      <app-ads [placementId]="1015"></app-ads>
		</div>
    <app-footer></app-footer>
	</main>
	<!-- end main content -->
