
<app-layout></app-layout>
	<!-- main content -->

	<main class="main">
		<div class="container-fluid">

			<app-slider></app-slider>
      <app-ads></app-ads>
			<app-trending></app-trending>
      <app-ads></app-ads>

			<app-recently></app-recently>
      <app-ads></app-ads>

      <app-most-views></app-most-views>
      <app-ads></app-ads>

      <app-see-more></app-see-more>
      <app-ads></app-ads>

			<app-super-star></app-super-star>
      <app-ads></app-ads>

  <app-footer></app-footer>
