
<app-layout></app-layout>
	<!-- main content -->

	<main class="main">
		<div class="container-fluid pb-5">


			<app-slider></app-slider>
      <app-ads [placementId]="1008"></app-ads>
			<app-trending></app-trending>
      <app-ads [placementId]="1009"></app-ads>

			<app-recently></app-recently>
      <app-ads [placementId]="1010"></app-ads>

      <app-most-views></app-most-views>
      <app-ads [placementId]="1011"></app-ads>

      <app-see-more></app-see-more>
      <app-ads [placementId]="1012"></app-ads>

			<app-super-star></app-super-star>
      <app-ads [placementId]="1013"></app-ads>
    </div>
  <app-footer></app-footer>
